<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domen</key>
	<string>https://infoapteka.sunrisetest.online/</string>
	<key>api</key>
	<string>api/</string>
	<key>version</key>
	<string>v1/</string>
	<key>check-user</key>
	<string>account/auth/</string>
	<key>simple-user-registration</key>
	<string>account/simple-user-registration/</string>
	<key>seller-user-registration</key>
	<string>account/seller-user-registration/</string>
	<key>account</key>
	<string>account/</string>
	<key>account-certificate</key>
	<string>account/certificate/</string>
	<key>account-data</key>
	<string>account/data/</string>
	<key>setting-cities</key>
	<string>setting/cities/</string>
	<key>seller-user-update</key>
	<string>account/seller-user-update/</string>
	<key>customer-user-update</key>
	<string>account/</string>
	<key>user-avatar-update</key>
	<string>account/avatar/</string>
	<key>user-avatar-delete</key>
	<string>account/avatar/</string>
	<key>drug-categories</key>
	<string>drug/categories/</string>
	<key>drug-search-hint</key>
	<string>drug/search_hint/</string>
	<key>login</key>
	<string>account/auth/</string>
	<key>account-login-confirm</key>
	<string>account/login-confirm/</string>
	<key>info-banner</key>
	<string>info/banner/</string>
	<key>info</key>
	<string>info/</string>
	<key>drug-list</key>
	<string>drug/list/</string>
	<key>cart</key>
	<string>cart/</string>
	<key>drug</key>
	<string>drug/</string>
	<key>account-favorite</key>
	<string>account/favorite/</string>
	<key>create-drug</key>
	<string>account/drug/</string>
	<key>create-drug-image</key>
	<string>account/image/</string>
	<key>notification</key>
	<string>notification/</string>
	<key>order</key>
	<string>order/</string>
	<key>drug-seller</key>
	<string>drug/seller/</string>
	<key>elsom_payment</key>
	<string>order/payment/elsom_payment/</string>
	<key>setting-districts</key>
	<string>setting/districts/</string>
	<key>setting-version</key>
	<string>setting/version/</string>
</dict>
</plist>
